*,
*::before
::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: "Raleway", sans-serif;
    --ff-secondary: "Syne Tactile", sans-serif;
    --fw-reg: 300;
    --clr-light: #fff;
    --clr-dark: #000;
    --clr-accent: #660000;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
}

li {
    width: 10em;
}

a {
    text-decoration: none;
    color: goldenrod;
}

a:hover {
    color: blue;
    letter-spacing: .5rem;
    transition: 1s;
}

body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__ttle {
    margin-bottom: .25rem;

}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle__services,
.section__subtitle__about {
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
}

.nav {
    display: flex;
    border: 1rem solid goldenrod;
    border-radius: .5rem;
    background-color: var(--clr-accent);
    justify-content: center;

}

.nav-item {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

.pic {
    display: flex;
    margin: 1.5rem;
    color: goldenrod;
    justify-content: center;
}

#h1 {
    margin-bottom: .5em;
    text-align: center;
}

.nbc {
    display: flex;
    list-style-type: none;
}

.ms {
    background-color: var(--clr-light);
    border: 1rem solid var(--clr-accent);
    border-radius: 1rem;
    padding: initial;
    color: var(--clr-dark);
    text-align: center;
}

.section__ttle__ {
    color: goldenrod;
    margin: .5em auto;
    justify-content: center;

}
.ss {
    max-width: 500px;
    margin: 0 auto;
}

.about-me {
    background: linear-gradient(50deg, #660000, goldenrod);
    border: 1rem solid goldenrod;
    border-radius: .5rem;
    max-width: 1000px;
    margin: 0 auto;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    background-color: goldenrod;
    color: var(--clr-accent);
    text-align: center;
    
}

.port {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

.port__item {
    border: 1rem solid var(--clr-accent);
    border-radius: .5px;
}

.contact-info {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .about-me {
        display: flex;
        flex-direction: column; 
    }

    .my-work {
        display: grid;
        grid-template-columns: auto;
    }
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
    .ss + .ss {
        margin-left: 2em;
    }
    .png {
        align-items: center;
    }
}

@media (max-width: 768px) {
    .nbc {
        display: flex;
        flex-direction: column;

    }
}

